/* ----Custom Section---- */

/* Start Hero Section */
html,
body {
    font-family: DiLerFont;
    font-size: 1rem;
    line-height: 1.3;
    color: #212529;
}

#header {
    display: block !important;
    position: relative;
    margin: 3vh auto 0;
    padding: 0;
    overflow: hidden;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }

    .hero * {
        font-size: min(max(14px, 3.6vw), 18px);
    }
}

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

#hero-home *,
#hero-classicschools * {
    color: #fff !important;
}

.g-0,
.gy-0 {
    --bs-gutter-y: 0;
}

.g-0,
.gx-0 {
    --bs-gutter-x: 0;
}

.row>* {
    flex-shrink: 0;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-top: var(--bs-gutter-y);
}

.row {
    margin-top: calc(var(--bs-gutter-y)* -1);
    margin-right: calc(var(--bs-gutter-x)* -.5);
    margin-left: calc(var(--bs-gutter-x)* -.5);
}

.col {
    flex: 1 0 0%;
}

.hero * {
    font-size: min(max(0.9rem, 1.8vw), 24px);
}

.hero-right .col>.d-flex {
    height: 100%;
    padding: 0 5% 9% 12%;
    transition: all .2s;
}

.hero-left {
    background-image: url(/assets/erpnext/images/hero.jpg);
    background-size: cover;
    line-height: 1.4;
}

.aspect {
    position: relative;
    height: 0;
    padding-top: 100%;
}

#hero-home .hero-right .row:first-child>.col:nth-child(2) a {
    height: 50%;
}

.hero-right .col {
    height: 100%;
    background: linear-gradient(275deg, #0082ca, #00a4ff);
}

.aspect>div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero-left .aspect>div {
    padding: 74% 0 0 7%;
}

.hero-right .row:nth-of-type(2) .col {
    background: linear-gradient(275deg, #e79500, #ffa400);
}

.hero-right .row:nth-of-type(2) .col:nth-of-type(2) {
    background: linear-gradient(0deg, #cb0076, #ff0094);
}

#hero-home .hero-right .row:nth-of-type(1) .col:nth-of-type(2) a {
    background: linear-gradient(0deg, #6ca800, #a2c600);
}

#hero-home .hero-right .row:first-child>.col:nth-child(2) a:nth-child(1) {
    padding-bottom: 5%;
}

em {
    font-family: DiLerFontBold;
    font-style: normal;
    font-weight: normal;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

a * {
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

.hero-right .col>.d-flex {
    height: 100%;
    padding: 0 5% 9% 12%;
    transition: all .2s;
}

.hero-right .col>a:hover {
    box-shadow: inset 0 -200px 100px -100px rgba(0, 0, 0, .05), inset 0 200px 100px -100px rgba(255, 255, 255, .2);
    text-decoration: none;
}

.hero-right .row {
    height: 50%;
    margin: 0px;
}

body a {
    text-decoration: none;
}

div {
    cursor: default;
    outline: none !important;
    unicode-bidi: isolate;
}

/* End Hero Section */

/* Start Card Section */

#all {
    margin: 3vh auto 0;
    max-width: 1140px;
    padding: 0 0 20vh;
    text-align: left;
    font-size: 1rem;
}

@media (min-width: 420px) {
    #main {
        min-height: calc(100vh - 1000px);
        padding: 2rem;
    }
}

.custom.services {
    --bs-gutter-x: 1.5rem;
    margin: 2vh auto;
    padding: calc(var(--bs-gutter-x)* 1.0);
}

.g-5,
.gy-5 {
    --bs-gutter-y: 3rem;
}

.g-5,
.gx-5 {
    --bs-gutter-x: 3rem;
}

.row-cols-1>* {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 576px) {
    .row-cols-sm-2>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.bg-body {
    background-color: #fff !important;
}

.rounded {
    border-radius: .25rem !important;
}

#services .card.shadow {
    transition: box-shadow .3s;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

#services .card-body {
    padding: 10%;
    background: #f8f8f8;
}

#services .wrapper-service-logo {
    width: 66%;
    margin: 0 auto 7%;
}

.aspect-16_9 {
    padding-top: 56.25%;
}

.aspect.aspect-service-logo {
    overflow: visible;
}

#services .service-logo {
    max-width: 100%;
    max-height: 90%;
    transition: all .3s;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

#services .card-title {
    padding: 0 0 8px;
    margin: 0 0 16px;
    border-bottom: thin solid #ddd;
    color: #333;
    text-align: center;
    font-size: min(max(1rem, 1.4vw), 1.2rem);
    font-family: DiLerFontBold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
    line-height: 1.3;
}

#services .card-body p {
    color: #333;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0 0 .3em;
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button;
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-outline-secondary {
    color: #6c757d;
    border-color: #6c757d;
}

:not(.btn-group):not(.input-group)>.btn {
    margin: 0 .3rem .3rem 0;
}

/* End Card Section */

/* Start Article Section */

article {
    outline: none !important;
}

.statement {
    width: 64%;
    min-width: 300px;
    margin: calc(2rem + 5vh) auto;
    padding: calc(1rem + 3vh);
    background: #eee;
}

.statement .heading {
    margin: 0 0 1em;
    padding: 0 0 1em;
    border-bottom: thin solid #ccc;
}



@media (min-width: 1200px) {

    .h1,
    h1 {
        font-size: 2.5rem;
    }
}

@media (min-width: 768px) {
    .row-cols-md-3>* {
        flex: 0 0 auto;
        width: 33.3333333333%;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-4>* {
        flex: 0 0 auto;
        width: 25%;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* margin-top: 0;
    margin-bottom: .5rem; */
    font-weight: 500;
    line-height: 1.2;
    color: #212529;
}

.feature-cards .card {
    border: none;
}

.feature-cards .card-img-top {
    text-align: center;
    padding: 1vh 0 0;
    font-size: 4rem;
    color: #bbb;
}

.feature-cards h2 {
    font-size: 1.5rem;
    text-align: center;
}

.fa,
.fas,
body .cb_template .fa,
body .cb_template .fa::before,
body .cb_template .fa-before::before,
body .cb_template .fa-raw,
body .cb_template .fa-raw::before,
body .cb_template .fa-raw-before::before {
    font-family: fa !important;
    font-weight: 900 !important;
}

/* End Article Section */

/* Start Testimonial Section */

/* End Testimonial Section */

/* Start Footer Section */

#footer-outer {
    background: #6f6f6f;
    color: #ccc;
}

#footer {
    padding: calc(1rem + 3vh) 2rem;
}

#footer .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.footer-logo {
    margin: 0 0 1rem 0;
    width: 144px;
    height: auto;
}

#footer-outer a {
    color: #fff;
}

div.mod-languages ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

div.mod-languages li {
    margin-left: 0px;
    margin-right: 4px;
}

div.mod-languages ul.lang-inline li {
    display: inline;
    float: left;
}


@media (min-width: 420px) {
    #footer .address {
        min-width: 370px;
    }
}

#footer-bottom {
    padding: calc(1rem + 3vh) 2rem;
    text-align: center;
    background: #666;
    font-size: .8rem;
}

#footer-bottom .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

#footer-bottom .col>* {
    display: inline-block;
}

#footer-outer .certificates {
    display: block;
    margin: 0 auto calc(1rem + 1vh);
}

#footer-outer .certificates .logos {
    display: inline-block;
    margin: 20px;
    width: 88px;
    padding: 8px;
    transition: all .2s;
}

#footer-outer .certificates .logos:nth-child(1) {
    width: 128px;
}

.list-inline>li {
    display: inline-block;
}

#footer-bottom .navi li {
    margin: 0 .2em;
}


#footer-sub {
    padding: calc(1rem + 3vh) 2rem;
    text-align: center;
    background: #606060;
    font-size: .8rem;
}

#footer-sub .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

#footer-outer .credits-inner {
    max-width: 530px;
    margin: auto;
}

/* End Footer Section */